.link {
  fill: none;
  stroke: #bbb;
  stroke-width: 1.5px;
}
.node circle {
  fill: #ccc;
  stroke: "white";
  stroke-width: 3px;
}
text {
  font: 15px sans-serif;
  pointer-events: none;
}
#graph-container{
  margin: auto;
  width: 90%;
}
