body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  margin-bottom: 30px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.blog-masthead {
  background-color: #428bca;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #fff;
}



.navlink a:visited {
    color: #fff;
}

a.blog-nav-item:visited {
  color: #fff;
}

.blog-nav-item a:hover {
  text-decoration: none;
}


/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}

.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right:  5px solid transparent;
  border-bottom: 5px solid;
  border-left:   5px solid transparent;
  color: #fff;

}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

#content{

}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

/*
 * Footer
 */

 #footer{

 }
 .footer-distributed{
   bottom:0;
   position: relative;
 	background-color: #292c2f;
 	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 	box-sizing: border-box;
 	width: 100%;
 	text-align: left;
 	font: normal 16px;

 	padding: 45px 50px;
 	margin-top: 80px;
 }

 .footer-distributed .footer-left p{
 	color:  #8f9296;
 	font-size: 14px;
 	margin: 0;
 }

 /* Footer links */

 .footer-distributed p.footer-links{
 	font-size:18px;
 	font-weight: bold;
 	color:  #ffffff;
 	margin: 0 0 10px;
 	padding: 0;
 }

 .footer-distributed p.footer-links a{
 	display:inline-block;
 	line-height: 1.8;
 	text-decoration: none;
 	color:  inherit;
 }

 .footer-distributed .footer-right{
 	float: right;
 	margin-top: 6px;
 	max-width: 180px;
 }

 .footer-distributed .footer-right a{
 	display: inline-block;
 	width: 35px;
 	height: 35px;
 	background-color:  #33383b;
 	border-radius: 2px;

 	font-size: 20px;
 	color: #ffffff;
 	text-align: center;
 	line-height: 35px;

 	margin-left: 3px;
 }

.link {
  fill: none;
  stroke: #bbb;
  stroke-width: 1.5px;
}
.node circle {
  fill: #ccc;
  stroke: "white";
  stroke-width: 3px;
}
text {
  font: 15px sans-serif;
  pointer-events: none;
}
#graph-container{
  margin: auto;
  width: 90%;
}

.zoom-icon{
  cursor: pointer;
  margin-right: 5px;
  display: inline-block;
}
