<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  </head>

 <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <div class="navlink">
          <a href="{{ url_for('default') }}" {% if name =="index" %} class="blog-nav-item active" {% endif %}>Home</a>
          <a href="{{ url_for('show_posts') }}" {% if name =="posts" %} class="blog-nav-item active" {% endif %}>View Posts</a>
          {% if not session.logged_in %}
          <a href="{{ url_for('login') }}" {% if name =="login" %} class="blog-nav-item active" {% endif %}>Log In</a>
          {% else %}
          <a href="{{ url_for('add_entry') }}" {% if name =="add" or name == "edit" %} class="blog-nav-item active" {% endif %}>Create Post</a>
          <a class="blog-nav-item" href="{{ url_for('logout') }}">Log out</a></div>
          {% endif %}
        </nav>
      </div>
    </div>

    <div class="container">

          {% for message in get_flashed_messages() %}
          <div class="alert alert-info">{{ message }}</div>
          {% endfor %}


<main class="site-content">{% block body %}{% endblock %}</div></main>

<footer class="footer-distributed">
    {% include "footer.html" %}
  </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  </body>
</html>
