

			<div class="footer-left">

				<p class="footer-links">
					<a href="{{ url_for('default') }}">Home</a>
					·
					<a href="https://github.com/YHLee89/teamblog">About</a>
					·
					<a href="{{ url_for('contact') }}">Contact</a>
				</p>

				<p>Diane Pham, Younghun Lee &copy; 2015</p>
			</div>


			<script>
			var total_height = $(window).height()
			var document_height = $('.blog-masthead').height() + $('#content').height()
			if (total_height>=document_height && $('.add-entry').height()==null){
				var footer_elem = document.getElementById('footer');
				footer_elem.style.position = "fixed";
			}
			</script>
