{% extends "base.html" %}
{% block body %}
<div>
  {% if error %}
  <div class="alert alert-danger">
  <strong>Error:</strong> {{ error }}{% endif %}
  </div>
  <div class="blog-header">
    <h1 class="blog-title">Teamblog</h1>
    <p class="lead blog-description">Powered by Flask. Created by Younghoon Lee and Diane Pham.</p>
  </div>
  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <br>
      <br>
      <dt>Password:
      <dd><input type=password name=password>
      <br>
      <br>
      <dd><input type=submit value=Login>
    </dl>
  </form>
</div>
{% endblock %}
