{% extends "base.html" %}
{% block body %}
<br>
<br>
<div class="row">
      <div class="col-sm-8 blog-main">
        <div class="blog-post">
              <h3 class="blog-post-title">{{ post.title }}</h3><hr>
              <p class="blog-post-meta">{{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}</p>
              <p id="main-content"></p>
              <p id="referred-by"></p>
        </div>
<hr>
  <div id="post-graph-container">
    <div class="zoom-icon" id="post-zoomin" ><i class="fa fa-lg fa-search-plus"></i></div>
    <div class="zoom-icon" id="post-zoomout" ><i class="fa fa-lg fa-search-minus"></i></div>
  </div>

  {% if session.logged_in %}
    <div>
      <a href="{{ url_for('delete_entry', id=post.id) }}">Delete Post</a>
      <br>
      <a href="{{ url_for('edit', id=post.id )}}">Edit Post</a>
    </div><br>
  {% endif %}

  <h3>Comments:</h3><br>
  {% for comment in comments %}
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="blog-post-meta">{{ comment.timestamp.strftime('%Y-%m-%d %H:%M') }}</p>
      {{ comment.name|safe }}: {{ comment.reply|safe }}

    </div>
  </div>
{% endfor %}

<hr>





    <form action="{{ url_for('post', id=post.id) }}" method=post class=comment>
      <dl>
        <dt>Name:
        <dd><input type=text size=30 name=name required>
        <dt>Comment:
        <dd><textarea name=reply rows=5 cols=40></textarea>
        <dd><input type=submit value=Comment>
      </dl>
    </form>
    </div>
</div>

<script>
  //Processing hashtags in each text
  function findHashtags(searchText){
    var regexp = /\B\#\w\w+\b/g
    var result = searchText.match(regexp);
    result_list = [];
    if (result) {
      var num_of_hashtags = result.length;
      for(var i=0;i<num_of_hashtags;i++) {
        var word_length = result[i].length;
        var hash_content = result[i].substring(1, word_length);
        {% for entry in entries %}
        if ( "{{ entry.title }}" == hash_content) {
          result_list.push(hash_content);
        }
        {% endfor %}
      }
      return result_list
    }
    else {
      return false;
    }
  }

  function findHashtags2(searchText){
    var regexp = /\B\#\w\w+\b/g
    var result = searchText.match(regexp);
    result_list = [];
    if (result) {
      var num_of_hashtags = result.length;
      for(var i=0;i<num_of_hashtags;i++) {
        var word_length = result[i].length;
        var hash_content = result[i];
        {% for entry in entries %}
        if ( "{{ entry.title }}" == hash_content.substring(1, word_length)) {
          result_list.push(hash_content);
        }
        {% endfor %}
      }
      return result_list
    }
    else {
      return result_list;
    }
  }

  var post_text = {{ post.text|tojson|safe }};
  var div = document.createElement("div");
  div.innerHTML = post_text;
  //var new_post_text = div.textContent || div.innerText || "";
  var text_div_line = div.getElementsByTagName("p");
  var total_line = text_div_line.length;
  var curr_hash_list = []
  for(var k=0;k<total_line;k++) {
    // var mock_div = document.createElement("div");
    // mock_div.innerHTML = text_div_line[k];
    // var new_post_text = mock_div.textContent || mock_div.innerText || "";
    var new_post_text = text_div_line[k].innerHTML;
    var line_hash = findHashtags2( new_post_text );
    var line_hash_len = line_hash.length;
    for(var l=0;l<line_hash_len;l++){
      curr_hash_list.push(line_hash[l]);
    }
  }
  //var curr_hash_list = findHashtags2( new_post_text );
  // var post_word_list = new_post_text.split(" ");
  var post_word_list = []
  for(var m=0;m<total_line;m++){
    post_word_list.push("<p>");
    text_list = text_div_line[m].innerHTML.split(" ");
    for(var n=0;n<text_list.length;n++){
      post_word_list.push(text_list[n]);
    }
    post_word_list.push("</p>");
  }
  var curr_uri = window.location.protocol + "//" + window.location.host + "/post/";
  if (curr_hash_list.length==0) {
    document.getElementById('main-content').innerHTML = post_text;
  }
  else {
    var num_of_hash = curr_hash_list.length;
    for(var i=0;i<num_of_hash;i++){
      var target_id = 0;
      {% for entry in entries %}
        if("{{entry.title}}"==curr_hash_list[i].substring(1, curr_hash_list[i].length)) {
          target_id = {{entry.id}};
        }
      {% endfor %}
      var num_of_words = post_word_list.length;
      for(var j=0;j<num_of_words;j++) {
        if(post_word_list[j]==curr_hash_list[i]) {
          post_word_list[j] = '<a href="'+curr_uri+target_id+'">'
          +curr_hash_list[i].substring(1, curr_hash_list[i].length)+'</a>';
        }
      }
    }
    var new_post = post_word_list.join(" ");
    document.getElementById('main-content').innerHTML = new_post;
  }

  {% for entry in entries %}
    var hash_list = findHashtags( {{ entry.text|tojson|safe }} );
    if (hash_list.length>0) {
      var num_of_hashtags = hash_list.length;
      for(var i=0;i<num_of_hashtags;i++) {
        if ("{{post.title}}"==hash_list[i]) {
          if(document.getElementById('referred-by').innerHTML=="") {
            document.getElementById('referred-by').innerHTML =
            '<br><hr><h4>Referred by</h4> <a href="'+curr_uri+{{entry.id}}+'">'+"{{entry.title}}"+'</a>';
          }
          else {
            document.getElementById('referred-by').innerHTML +=
            '<br><a href="'+curr_uri+{{entry.id}}+'">'+"{{entry.title}}"+'</a>';
          }
        }
      }
    }
  {% endfor %}


  //Making links based on hashtags
  var links = [];
  {% for entry in entries %}
    var hash_list = findHashtags( {{ entry.text|tojson|safe }} );
    var default_uri = window.location.href;
    var source_uri = default_uri + "post/"+{{entry.id}};
    if (hash_list.length>0) {
      var num_of_hashtags = hash_list.length;
      for(var i=0;i<num_of_hashtags;i++) {
        links.push({
          source: "{{entry.title}}",
          target: hash_list[i]
        });
      }
    }
    else {
      links.push({
        source: "{{entry.title}}",
        target: "{{entry.title}}"
      });
    }
  {% endfor %}

  //Creating nodes based on links
  var nodes={};
  links.forEach(function(link) {
    link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
    link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
  });

  //Putting properties to each node
  for (var node in nodes) {
    {% for entry in entries %}
    var cur_uri = window.location.protocol + "//" + window.location.host + "/post/" + {{entry.id}};
    var cat = "{{entry.category}}";
    var text_len = {{ entry.text|tojson|safe }}.length;
    if (node == "{{entry.title}}"){
      nodes[node].uri = cur_uri;
      nodes[node].color = cat;
      if (text_len<100) {
        nodes[node].value = 8;
      }
      else if(text_len<1000) {
        nodes[node].value = 12;
      }
      else {
        nodes[node].value = 16;
      }
    }
    {% endfor %}
  }

  //D3 visualization
  var width = document.getElementById('post-graph-container').offsetWidth;
  var height = width*1/2;
  var zoomfactor = 1;
  var zoomlistener = d3.behavior.zoom()
    .on("zoom", redraw);
  // var curr_circle = [1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2,
  //   1.9, 1.8, 1.7, 1.6, 1.5, 1.4, 1.3, 1.2, 1.1, 1];
  var force = d3.layout.force()
    .nodes(d3.values(nodes))
    .links(links)
    .size([width, height])
    .linkDistance(60)
    .charge(-300)
    .on("tick", tick)
    .start();
  var svg = d3.select("#post-graph-container").append("svg")
    .attr("viewBox", "0 0 "+width+" "+height)
    .append("g");
    // .call(repeat());
  var link = svg.selectAll(".link")
    .data(force.links())
    .enter().append("line")
    .attr("class", "link");
  var node = svg.selectAll(".node")
    .data(force.nodes())
    .enter().append("g")
    .attr("class", "node")
    .attr("link", function(d) { return d.uri; })
    .on("mouseover", mouseover)
    .on("mouseout", mouseout)
    .on("click", click)
    .call(force.drag);
  node.append("circle")
    .style("fill", function(d) { return d.color; })
    .style("stroke", function(d) {
      if("{{post.title}}"==d.name) { return "black"; }
      else { return "white"; } })
    .attr("selected", function(d) {
      if("{{post.title}}"==d.name) { return 1; }
      else { return 0; } })
    .attr("cursor", function(d) {
      if("{{post.title}}"==d.name) { return "pointer"; }
      else { return "default"; } })
    .attr("r", function(d){ return d.value; });
    // .attr("class", function(d) {
    //   if("{{post.title}}"==d.name) { return "cur_node"; }
    //   else { return "non_active"; } })
    // .attr("r", function(d) {
    //   if("{{post.title}}"==d.name) {
    //     curr_circle.forEach(function(c, i){
    //       c *= d.value;
    //       curr_circle[i] = c;
    //     });
    //     return d.value; }
    //   else { return d.value; } });

  // console.log(curr_circle);
  // function cycle(){
  //   curr_circle.forEach(function (d, i){
  //     d3.select(".cur_node").transition()
  //       .duration(50).delay(i*50)
  //       .attr("r", d);
  //     });
  // }
  // function repeat(){
  //   d3.select(".cur_node").transition()
  //     .each("start", cycle)
  //     .each("end", repeat);
  // }

  // d3.select(".cur_node").transition()
  //   .each("end", repeat);

  // curr_circle.forEach(function (d, i){
  //   d3.select(".cur_node").transition()
  //     .duration(50).delay(i*50)
  //     .attr("r", d)
  //     .each("end", function(){
  //       d3.select(".cur_node").transition()
  //         .duration(50).delay(i*50)
  //         .attr("r", d);
  //     });
  //
  // });
  // d3.select(".cur_node")
  //   .transition()
  //   .duration(500)
  //   .attr("r", function(d) {
  //     curr_circle.forEach(function(i){
  //       return i;
  //     });
  //   });

  // circle_scale.forEach(function(d, i) {
  //   node.transition().duration(100).delay(i*100)
  //   .attr("r", function(c) {
  //     if("{{post.title}}"==c.name) {
  //       return c.value*d;
  //     }});
  // });
  // node.transition()
  //   .duration(1000)
  //   .attr("r", function(d) {
  //     if("{{post.title}}"==d.name) {
  //       return d.value*1.2;
  //     }
  //   });
  node.append("text")
    .attr("x", 12)
    .attr("dy", ".35em")
    .text(function(d) { return d.name; })
    .style("visibility", "hidden");
  d3.select("#post-zoomin").on("click", function (){
      zoomfactor += 0.2;
      zoomlistener.scale(zoomfactor).event(d3.select("#post-graph-container"));
  });
  d3.select("#post-zoomout").on("click", function (){
      zoomfactor -= 0.2;
      zoomlistener.scale(zoomfactor).event(d3.select("#post-graph-container"));
  });
  function tick() {
    link
      .attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });
    node
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    }
  function mouseover() {
    d3.selectAll("circle").style("opacity", 0.5);
    d3.select(this).select("circle").style("opacity", 1);
    d3.select(this).select("text").style("visibility", "visible");
    }
  function mouseout() {
    d3.selectAll("circle").style("opacity", 1);
    d3.select(this).select("text").style("visibility", "hidden");
    }
  function click(){
    var cur_state = d3.select(this).select("circle").attr("selected");
    if(cur_state==1){
      d3.select(this).select("circle").attr("selected", 0);
      window.location.href = this.getAttribute("link");
    }
    else{
      d3.selectAll("circle").style("stroke", "white");
      d3.selectAll("circle").attr("cursor", "default");
      d3.selectAll("circle").attr("selected", 0);
      d3.select(this).select("circle").style("stroke", "black");
      d3.select(this).select("circle").attr("selected", 1);
      d3.select(this).select("circle").attr("cursor", "pointer");
    }
  }
  function redraw(){
    var x_trans = width/2;
    var y_trans = height/2;
    svg.attr("transform", "translate(" + -x_trans*(d3.event.scale-1) +","+ -y_trans*(d3.event.scale-1)+") scale(" + d3.event.scale +")" );
  }
</script>
{% endblock %}
